/* Page background */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg,#e9f5ec,#f7f9f8);
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


/* Register container */

.container{
    background:white;
    padding:40px;
    border-radius:12px;
    width:420px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);

    display:flex;
    flex-direction:column;
    gap:12px;
}


/* Title */

h2{
    margin-bottom:15px;
    font-size:28px;
    font-weight:600;
}


/* Inputs */

input,select{
    width:100%;
    padding: 12px;
    border-radius:8px;
    border:1px solid #dcdcdc;
    font-size:14px;
    transition:0.2s;
}


/* Input focus */

input:focus,select:focus{
    outline:none;
    border:1px solid #117a3d;
    box-shadow:0 0 0 2px rgba(58,143,94,0.15);
}


/* Register button */

button{
    margin-top:10px;
    padding:13px;
    border:none;
    border-radius:8px;
    background:#117a3d;
    color:white;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    transition:0.2s;
    width: 106%;
}



#role {
    width: 106%;
}

#experience {
    width: 106%;
}

/* Button hover */

button:hover{
    background:#117a3d;

}


/* Responsive (for smaller screens) */

@media (max-width:500px){

.container{
    width:90%;
    padding:25px;
}

}

